.dropdown {
  position: relative;
  background: transparent;
  /* border: 1px solid #eee; */
  border-radius: 1px;
  max-width: 40px;
  line-height: 32px;
}

.dropdown__list {
  transition: max-height .2s ease-out;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  position: fixed;
}

.dropdown__list--active {
  max-height: 1000px;
  opacity: 1;
}

.dropdown__list-item {
  /* border-bottom: 1px solid #eee; */
  background: black;
  cursor: pointer;
  list-style: none;
}

.dropdown__list-item--active {
  /* background: #f4f4f4; */
}

.dropdown__list-item:hover {
  /* background: #f4f4f4; */
}
