<h3 class="page-heading">Instana configuration</h3>

<div class="gf-form-group">
  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="in-url">
      URL
      <info-popover position="top center" mode="right-normal">
        <p>Enter the URL of your Instana installation. E.g. https://tools-acme.instana.io</p>
      </info-popover>
    </label>
    <input class="gf-form-input width-30" id="in-url" type="text" ng-model="ctrl.current.jsonData.url" ng-change="ctrl.onAccessChange()" placeholder="E.g. https://tools-acme.instana.io"></input>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="in-api-token">
      API token
      <info-popover position="top center" mode="right-normal">
        <p>Enter the API token to access the data.<br/>You can create API tokens following the instructions at <a href="https://docs.instana.io/quick_start/api/#api-tokens">https://docs.instana.io/quick_start/api/#api-tokens</a></p>
      </info-popover>
    </label>
    <input class="gf-form-input width-30" id="in-api-token" type="text" ng-model="ctrl.current.jsonData.apiToken" ng-change="ctrl.onAccessChange()" placeholder="Enter your API token."></input>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="in-proxy-mode">
      Use proxy
      <info-popover position="top center" mode="right-normal">
        <p>Use Grafana server as proxy, this adds the Instana API token on the server.<br/>Supported with Grafana 5.3+ and Instana datasource 2.0.0+</p>
      </info-popover>
    </label>
    <gf-form-switch class="gf-form-switch" id="in-proxy-mode" checked="ctrl.current.jsonData.useProxy" on-change="ctrl.onAccessChange()" ng-disabled="!ctrl.current.jsonData.canUseProxy"/>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="in-historic-mode">
      Enable offline snapshots
      <info-popover position="top center" mode="right-normal">
        <p>Enables querying offline snapshots for given timeranges.<br/>Supported with Instana 1.156+ and Instana datasource 2.3.0+</p>
      </info-popover>
    </label>
    <gf-form-switch class="gf-form-switch" id="in-historic-mode" checked="ctrl.current.jsonData.showOffline" ng-disabled="!ctrl.current.jsonData.canQueryOfflineSnapshots"/>
  </div>

  <br/>
  <b>Max. query-intervals in hours</b>
  <p>This settings are optional values to control the load of data queries, by defining the maximum allowed query intervals against the Instana API.</p>

  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="in-queryinterval-infra">
      Infrastructure metrics
      <info-popover position="top center" mode="right-normal">
        <p>Limit for max. query interval in hours for Category: Infrastructure built-in/custom metrics</p>
      </info-popover>
    </label>
    <input class="gf-form-input width-30" id="in-queryinterval-infra" type="text" ng-model="ctrl.current.jsonData.queryinterval_limit_infra" ng-change="ctrl.onAccessChange()" placeholder="optional: interval limit in hours"></input>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="in-queryinterval-app-metrics">
      Application metrics
      <info-popover position="top center" mode="right-normal">
        <p>Limit for max. query interval in hours for Category: Application/Service/Endpoint metrics</p>
      </info-popover>
    </label>
    <input class="gf-form-input width-30" id="in-queryinterval-app-metrics" type="text" ng-model="ctrl.current.jsonData.queryinterval_limit_app_metrics" ng-change="ctrl.onAccessChange()" placeholder="optional: interval limit in hours"></input>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="in-queryinterval-app-calls">
      Analyze application calls
      <info-popover position="top center" mode="right-normal">
        <p>Limit for max. query interval in hours for Category: Analyze application calls</p>
      </info-popover>
    </label>
    <input class="gf-form-input width-30" id="in-queryinterval-app-calls" type="text" ng-model="ctrl.current.jsonData.queryinterval_limit_app_calls" ng-change="ctrl.onAccessChange()" placeholder="optional: interval limit in hours"></input>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="in-queryinterval-website">
      Analyze websites
      <info-popover position="top center" mode="right-normal">
        <p>Limit for max. query interval in hours for Category: Analyze websites</p>
      </info-popover>
    </label>
    <input class="gf-form-input width-30" id="in-queryinterval-website" type="text" ng-model="ctrl.current.jsonData.queryinterval_limit_website_metrics" ng-change="ctrl.onAccessChange()" placeholder="optional: interval limit in hours"></input>
  </div>
</div>
