<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form">
    <label class="gf-form-label width-13 pointer" for="in-category-{{ctrl.target.refId}}">
      Category
      <info-popover position="top center" mode="right-normal">
        <p>Select a metric category.</p>
      </info-popover>
    </label>
    <div class="gf-form-select-wrapper width-22 gf-form-select-wrapper--has-help-icon">
      <select id="in-category-{{ctrl.target.refId}}"
        class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
        ng-model="ctrl.target.metricCategory"
        ng-change="ctrl.onMetricCategorySelect()">
        <option value="0" selected>Infrastructure built-in metrics</option>
        <option value="1">Infrastructure custom metrics</option>
        <!-- <option value="2">Application metrics</option>-->
        <option value="3">Website metrics</option>
      </select>
    </div>
  </div>

  <div ng-show="ctrl.target.metricCategory === '0'">
		<div ng-include src="'query.html'"/>
		<div ng-include src="'type.html'"/>
		<div ng-include src="'metric.html'"/>
		<div ng-include src="'legend.html'"/>
  </div>

  <div ng-show="ctrl.target.metricCategory === '1'">
		<div ng-include src="'query.html'"/>
		<div ng-include src="'type.html'"/>
		<div ng-include src="'filter.html'"/>
		<div ng-include src="'metric.html'"/>
		<div ng-include src="'legend.html'"/>
  </div>

  <div ng-show="ctrl.target.metricCategory === '2'">

  </div>

  <div ng-show="ctrl.target.metricCategory === '3'">
		<div ng-include src="'website.html'"/>
    <div ng-include src="'group.html'"/>
    <div ng-include src="'metric.html'"/>
    <div ng-include src="'filters.html'"/>
  </div>

  <script type="text/ng-template" id="query.html">
    <div class="gf-form">
      <label class="gf-form-label width-13 pointer" for="in-query-{{ctrl.target.refId}}">
        Query
        <info-popover position="top center" mode="right-normal">
          <p>Specify a query for the entities you wish to plot. Use the dynamic focus syntax:
            <a href="https://docs.instana.io/core_concepts/dynamic_focus/#syntax">https://docs.instana.io/core_concepts/dynamic_focus/#syntax</a>
          </p>
        </info-popover>
      </label>
      <input id="in-query-{{ctrl.target.refId}}"
             class="gf-form-input"
             type="text"
             ng-model='ctrl.target.entityQuery'
             ng-class="ctrl.target.queryIsValid ? 'ng-valid' : 'ng-invalid'"
             ng-model-options='{ debounce: 300 }'
             ng-change="ctrl.onFilterChange(true)"
             placeholder="Please Specify"
             spellcheck='false'/>
    </div>
  </script>

  <script type="text/ng-template" id="type.html">
    <div class="gf-form">
      <label class="gf-form-label width-13 pointer" for="in-type-{{ctrl.target.refId}}">
        Type
        <info-popover position="top center" mode="right-normal">
          <p>Select an entity type for a list of available metrics.</p>
        </info-popover>
      </label>
      <div class="gf-form-select-wrapper width-22 gf-form-select-wrapper--has-help-icon">
        <select id="in-type-{{ctrl.target.refId}}"
                class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
                ng-model="ctrl.target.entityType"
                ng-change="ctrl.onEntityTypeSelect(true)"
                ng-options="f as f.label for f in ctrl.uniqueEntityTypes track by f.key">
          <option value="" disabled selected>{{ctrl.entitySelectionText}}</option>
        </select>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="filter.html">
    <div class="gf-form">
      <label class="gf-form-label width-13 pointer" for="in-filter-{{ctrl.target.refId}}">
        Filter metric select
        <info-popover position="top center" mode="right-normal">
          <p>Type to suggest metrics.</p>
        </info-popover>
      </label>
      <input id="in-filter-{{ctrl.target.refId}}"
             class="gf-form-input width-22"
             type="text"
             ng-model="ctrl.target.filter"
             ng-model-options='{ debounce: 200 }'
             ng-change="ctrl.onMetricsFilter(true)"
             placeholder="(optional)"
             spellcheck='false'/>
    </div>
  </script>

  <script type="text/ng-template" id="metric.html">
    <div class="gf-form">
      <label class="gf-form-label width-13 pointer" for="in-metric-{{ctrl.target.refId}}">
        Metric
        <info-popover position="top center" mode="right-normal">
          <p>Select the metric you wish to plot.</p>
        </info-popover>
      </label>
      <div class="gf-form-select-wrapper width-22 gf-form-select-wrapper--has-help-icon">
        <select id="in-metric-{{ctrl.target.refId}}"
                class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
                ng-model="ctrl.target.metric"
                ng-change="ctrl.onMetricSelect()"
                ng-options="f as f.label + ' (' + f.key + ')' for f in ctrl.availableMetrics track by f.key">
          <option value="" disabled selected>{{ctrl.metricSelectionText}}</option>
        </select>
      </div>
      <div class="gf-form-select-wrapper width-6">
        <select id="in-aggregation-{{ctrl.target.refId}}"
                ng-show="ctrl.target.metricCategory === '3'"
                ng-disabled="!ctrl.target.metric || ctrl.target.metric.aggregations.length <= 1"
                class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
                ng-model="ctrl.target.aggregation"
                ng-change="ctrl.onMetricSelect()"
                ng-options="f for f in ctrl.target.metric.aggregations">
        </select>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="legend.html">
    <div class="gf-form">
      <label class="gf-form-label width-13 pointer">
        Legend format
        <info-popover position="top center" mode="right-normal">
          Default: $label (on host $host)
          <ul>
            <li>$label - entity label</li>
            <li>$host - corresponding host</li>
            <li>$pid - corresponding PID</li>
            <li>$metric - displayed metric</li>
            <li>$type - entity type</li>
            <li>$service - service label</li>
            <li>$name - label alternative</li>
          </ul>
        </info-popover>
      </label>
      <input id="in-legend-{{ctrl.target.refId}}"
             class="gf-form-input width-22"
             type="text"
             ng-model="ctrl.target.labelFormat"
             ng-model-options='{ debounce: 500 }'
             placeholder="$label (on host $host)"
             ng-change="ctrl.onLabelChange()"
             spellcheck='false'/>
    </div>
  </script>

  <script type="text/ng-template" id="website.html">
    <div class="gf-form">
      <label class="gf-form-label width-13 pointer" for="in-website-{{ctrl.target.refId}}">
        Website
        <info-popover position="top center" mode="right-normal">
          <p>Select a website.</p>
        </info-popover>
      </label>
      <div class="gf-form-select-wrapper width-22 gf-form-select-wrapper--has-help-icon">
        <select id="in-website-{{ctrl.target.refId}}"
                class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
                ng-model="ctrl.target.entity"
                ng-change="ctrl.onEntitySelect()"
                ng-options="f as f.label for f in ctrl.uniqueEntities track by f.key">
        </select>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="group.html">
      <div class="gf-form">
        <label class="gf-form-label width-13 pointer" for="in-group-{{ctrl.target.refId}}">
          Group by
          <info-popover position="top center" mode="right-normal">
            <p>Group by tag</p>
          </info-popover>
        </label>
        <div class="gf-form-select-wrapper width-22 gf-form-select-wrapper--has-help-icon">
          <select id="in-group-{{ctrl.target.refId}}"
                  class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
                  ng-model="ctrl.target.group"
                  ng-change="ctrl.onGroupChange()"
                  ng-options="f as f.key for f in ctrl.uniqueTags track by f.key">
          </select>
        </div>
      </div>
  </script>

  <script type="text/ng-template" id="filters.html">
    <div ng-repeat="filter in ctrl.target.filters">
      <div class="gf-form">
        <label class="gf-form-label width-13 pointer" for="in-filters-{{ctrl.target.refId}}-{{$index}}">
          {{$index+1}}. Filter
          <info-popover position="top center" class="ng-invalid" mode="right-normal">
            <p>Filter by tag</p>
          </info-popover>
        </label>
        <div class="gf-form-select-wrapper width-14 gf-form-select-wrapper--has-help-icon">
          <select id="in-filter-name-{{ctrl.target.refId}}-{{$index}}"
                  class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
                  ng-model="ctrl.target.filters[$index].tag"
                  ng-change="ctrl.onTagFilterChange($index)"
                  ng-options="f as f.key for f in ctrl.uniqueTags track by f.key">
          </select>
        </div>
        <div class="gf-form-select-wrapper width-8 gf-form-select-wrapper--has-help-icon">
          <select id="in-filter-operator-{{ctrl.target.refId}}-{{$index}}"
                  class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
                  ng-model="ctrl.target.filters[$index].operator"
                  ng-change="ctrl.onTagFilterChange($index)"
                  ng-options="f as f.label for f in ctrl.uniqueOperators | filter:{type:ctrl.target.filters[$index].tag.type} track by f.key">
          </select>
        </div>
        <input id="in-filter-stringValue-{{ctrl.target.refId}}-{{$index}}"
               type="text"
               ng-show="ctrl.target.filters[$index].tag.type === 'STRING' || ctrl.target.filters[$index].tag.type === 'KEY_VALUE_PAIR'"
               class="gf-form-input width-22"
               ng-model="ctrl.target.filters[$index].stringValue"
               ng-model-options='{ debounce: 400 }'
               ng-change="ctrl.onTagFilterChange($index)"
               placeholder="{{ctrl.target.filters[$index].tag.type === 'KEY_VALUE_PAIR' ? 'Key=Value' : 'Please Specify'}}"
               spellcheck='false'/>
        <input id="in-filter-numberValue-{{ctrl.target.refId}}-{{$index}}"
               type="number"
               ng-show="ctrl.target.filters[$index].tag.type === 'NUMBER'"
               class="gf-form-input width-22"
               ng-model="ctrl.target.filters[$index].numberValue"
               ng-model-options='{ debounce: 400 }'
               ng-change="ctrl.onTagFilterChange($index)"
               placeholder="Please Specify"
               spellcheck='false'/>
        <select id="in-filter-booleanValue-{{ctrl.target.refId}}"
                ng-show="ctrl.target.filters[$index].tag.type === 'BOOLEAN'"
                class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched"
                ng-model="ctrl.target.filters[$index].booleanValue"
                ng-change="ctrl.onTagFilterChange($index)">
          <option value="true" selected>true</option>
          <option value="false">false</option>
        </select>
        <button class="btn btn-inverse" ng-click="ctrl.removeFilter($index)">
			    <i class="fa fa-minus"></i>
		    </button>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-13 pointer" for="in-website-{{ctrl.target.refId}}">
        Add filter
        <info-popover position="top center" mode="right-normal">
          <p>Add an additional tag filter</p>
        </info-popover>
      </label>
      <button class="btn btn-inverse" ng-click="ctrl.addFilter()">
		    <i class="fa fa-plus"></i>
	    </button>
    </div>
  </script>

</query-editor-row>
