.min-width-6 {
  min-width: 6rem;
}

.min-width-8 {
  min-width: 8rem;
}

.min-width-10 {
  min-width: 10rem;
}

.min-width-12 {
  min-width: 12rem;
}

.min-width-20 {
  min-width: 20rem;
}

.min-width-24 {
  min-width: 24rem;
}

.min-width-56 {
  min-width: 56rem;
}

.gf-form-select-wrapper select.gf-form-input, input.gf-form-input {
  height: 2.64rem;
}

.gf-form-select-wrapper--caret-indent.gf-form-select-wrapper::after {
  right: 0.775rem
}

.width-100 {
  width: 100rem;
}

.full-width {
  width: 100%;
}
